*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: navy;
}
img{
    height: 75px;
    width: auto;
}
nav {
    background-color:rgba(5, 5, 82, 0.815);
    justify-content: space-between;
    display: flex;
    padding: 10px;
    }

 ul  {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 10px 50px;
    gap: 1rem;
    
}
 a{
    text-decoration: none;
    color: white;
    transition: all;
    transition-duration: 300ms;
    padding: 7px 0;
    border-bottom: 1px white;

}

a:hover{
    color: blue;
    border-bottom: 1px solid white;
    

}
 .container{
    width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 100px ;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.5);
 }
      

   
 
 
 button{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
 }
 input{
    margin-top: 8px;
    padding: 8px 3px;
    border: none ;
    width: 200px;
    border-radius: 2px;
    transition: border-bottom 0.1s;
    border-bottom: 3px solid transparent
    
 }
 input:focus{
    outline: none;
    border-bottom: 3px solid navy;
 }
 